$warning-color: #fff599;
$warning-second-color: #BB9B5D;

body{
    font-family: Rubik;
}
.error-page{
    background-color: $warning-color;
}
.error-page__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.error-page__title{
    font-size: 96px;
    color: $warning-second-color;
}