$text-primary-color: #FFFFFF;
$primary-color : #5CC1AF;
$secondary-color : #51AF9F;
$tertiary-color: #DBF1E8;
$text-secondary-color: #56746F;
$error-second-color: #AC5F5F;
$error-color: #FF9999;
$stroke-color: #B2C9C0;
$disclaimer-text-color: rgba(255, 255, 255, 0.81);
$warning-color: #fff599;
$warning-second-color: #BB9B5D;
$unavailable-color: #FF9999;
$unavailable-second-color: #AC5F5F;


body {
    background-color: $primary-color;
    background-image: url("../../svg/background-site.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Rubik';
    color: $text-primary-color;
}

.menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    padding-bottom: 75px;
    position: relative;
    z-index: 1; /* Ensure the menu bar does not overlap with other content */

    &__panel-icon{
        display: none;
    }
    &__icon {
        position: relative; /* Default position */
        transition: all 0.3s ease; /* Smooth transition for sticky effect */
        z-index: 1000; /* Ensure icon stays above other elements */
        cursor: pointer; /* Make the icon clickable */

        &-sticky {
            position: fixed;
            left: 50px;
            top: 50px;
            z-index: 1000; /* Ensure it stays on top */
            transform: translate(0, 0);
        }
    }

    &__bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 70%;
        padding-right: 10%;
        
        &-sticky{
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: end;
        }

        &-box {
            border: 3px solid $text-primary-color;
            border-radius: 10px;
            height: 54px;
            width: 454px;
            overflow: hidden;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-text {
            color: $text-primary-color;
            font-size: 20px;
            display: flex;
            align-items: center;            
            justify-content: center;
        }

        .scroll-text-container {
            position: relative;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items:center;
            justify-content: flex-start;
            width: 50%;
            padding-left: 15px;
            overflow: hidden;
        }

        .scroll-text {
            position: absolute;
            // animation: scrollText 10s linear infinite;
            white-space: nowrap;
            margin: 0;
            font-weight: 400;
            font-style: normal;
            color: $text-primary-color;
            font-family: "Rubik Mono One", monospace;
        }

    }

    &__link {
        color: $text-primary-color;
        font-weight: regular;
        padding: 0 100px;
    }
}
// .scroll-text {
//     position: absolute;
//     width: 100%;
//     // white-space: nowrap; /* Prevent text wrapping */
//     // animation: scrollRight 10s linear infinite; /* Animation for scrolling */
// }

// //* Keyframes for scrolling to the right */
// @keyframes scrollRight {
//     0% {
//         transform: translateX(-100%); /* Start completely to the left */
//     }
//     10% {
//         transform: translateX(0); /* Fully visible */
//     }
//     40% {
//         transform: translateX(0); /* Pause in the center */
//     }
//     50% {
//         transform: translateX(100%); /* Move out to the right */
//     }
//     100% {
//         transform: translateX(100%); /* Reset to loop */
//     }
// }


.list {
    display: flex; /* Flex layout for scrolling */
    justify-content: center;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    align-items: center; /* Vertically align items */
}

.listitem {
    display: flex; /* Ensure horizontal alignment */
    justify-content: center;
    align-items: center;
    padding: 0 150px; /* Add spacing between items */
    white-space: nowrap; /* Prevent text wrapping */
    text-align: center;
}

.list.cloned {
    position: absolute;
    top: 0;
    left: 0;
}


.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;

    &__panel-icon{
        display: none;
    }

}
.directions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    // padding-left: 720px;
    width: 60%;
    padding-bottom: 75px;

    &__title-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6px;
    }
    &__text{
        width: 65%;
        margin:0;
        padding-bottom: 75px;
    }
}
.schedule{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    border : 3px solid $secondary-color ;
    border-radius: 15px;
    width: 30%;
    margin-bottom: 75px;

    &__title{
        font-size: 24px;
        text-decoration: underline;
    }

    &__subtitle{
        font-size: 16px;
    }

    &__next-trip{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
    }
    &__station{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__station-name{
        font-size: 16px;
        font-weight: 700;
    }
    &__time-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__time{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        background-color: $tertiary-color;
        color: $text-secondary-color;
        font-size: 24px;
        font-weight: 400;
        width: 160px;
        height: 60px;
    }
    &__time-note{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $error-second-color;
        border-radius: 10px;
        background-color: $error-color;
        color: $error-second-color;
        font-size: 14px;
        font-weight: 400;
        width: 136px;
        height: 37px;
        margin-top: -16px;
    }
    &__full-title{
        font-size: 16px;
        font-weight: 400;
    }
    &__full{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        gap: 30px;
    }
    &__column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        background-color: $tertiary-color;
        color: $text-secondary-color;
        font-size: 24px;
        font-weight: 400;
        width: 180px;
    }
    &__list{
        
        list-style: none;
        padding: 0;
        margin: 0;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $stroke-color;
        width: 90px;
        height: 30px;
        padding: 6px;
    }
    &__item:nth-last-child(1){
        border: none;
    }
}
.complaint{
    width: 30%;
    padding-bottom: 75px;

    &__link{
        color: $text-primary-color;
    }
    &__link:hover{
        color: $text-primary-color;
    }
    &__disclaimer{
        font-size: 12px;
        font-weight: 400;
        color : $disclaimer-text-color;
    }
    &__disclaimer-link{
        color : $disclaimer-text-color;
    }
    &__form{
        width: 100%;
    }
    &__group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 15px;
        position: relative;

        &-hidden {
            display: none; /* Hide the element */
        }
        
    }
    &__label{
        position: absolute;
        color: $text-secondary-color;
        font-size: 14px;
        font-weight: 600;
        margin-left: 20px; 
    }
    &__group svg{
        position: absolute;
        padding-right: 20px;
        right: 0;
    }
    &__group:last-of-type svg{
        position: absolute;
        padding-right: 20px;
        top: 0;
        padding-top: 20px;
    }
    &__input{
        width: 100%;
        background-color: $tertiary-color;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        height: 60px;
        padding: 0 25px 0 20px;
    }
    &__input:focus{
        border: 1px solid $secondary-color; // Removes the border on focus
        outline: none; // Ensures no outline appears
        color: $text-secondary-color; // Only set necessary focus styles
    }
    select {
        -webkit-appearance: none;  // For WebKit browsers (Chrome, Safari, etc.)
        -moz-appearance: none;     // For Firefox
        appearance: none;          // Standard property
      
      
        // For better cross-browser consistency
        &::-ms-expand {
          display: none;           // Hides the dropdown arrow in Internet Explorer
        }

        option{
            background-color: lighten($tertiary-color, 20%);
            color: $text-secondary-color;
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
        }
        option[disabled] {
            background-color: $tertiary-color;
            color: $text-secondary-color;
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
        }
     }
    &__input::placeholder{
        // color: transparent;
        font-weight: 600;
        color: $text-secondary-color;
        font-size: 14px;
        font-family: 'Rubik' ;
    }
    &__input-datetime {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: $tertiary-color;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        width: 100%;
        height: 60px;
        padding-left: 20px;
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
        font-weight: 600;
        color: $text-secondary-color;
        cursor: pointer;
    
        &::-webkit-calendar-picker-indicator {
            display: none;
        }
    
        &:focus {
            border-color: $secondary-color;
            outline: none;
        }
    }
    &__textarea{
        background-color: $tertiary-color;
        border: 1px solid $secondary-color;
        border-radius: 10px;
        width: 100%;  
        height: 125px;
        resize: none; 
        padding: 20px 25px 0 20px;
    }
    &__textarea::placeholder{
        // color: transparent;
        font-weight: 600;
        color: $text-secondary-color;
        font-size: 14px;
        font-family: 'Rubik' ;
    }
    &__textarea:focus{
        border: 1px solid $secondary-color; // Removes the border on focus
        outline: none; // Ensures no outline appears
    }
    &__input:focus,
    &__textarea:focus {
        color: $text-secondary-color; // Consistent color for typed text
        
    }
    
    &__button{
        width: 100%;
        background-color: $secondary-color;
        border-radius: 10px;
        height: 60px;
        color: $text-primary-color;
        font-size: 16px;
        font-family: 'Rubik';
        font-weight: 500;
        border: none;
    }
}
.alternative-route{
    width: 30%;
    padding-bottom: 124px;

    &__text{
        font-size: 16px;
    }
}
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$disclaimer-text-color;
    font-size: 16px;
}

#notification-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none; /* Prevent interaction blocking */
}

.notification {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 43px;
    margin: 0 auto;
    pointer-events: auto; /* Allow interaction for dismissing */
    cursor: pointer;
    animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 4s forwards;
    height: 43px;
}

.notification__icon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    fill: currentColor; /* Matches the text color of the notification */
    padding: 0 0 0 10px;
}
/* Specific Icon Sizes */
.notification--success .notification__icon {
    width: 22x;
    height: 16px;
}

.notification--warning .notification__icon {
    width: 20px;
    height: 17px;
}

.notification--error .notification__icon {
    width: 18px;
    height: 18px;
}

/* Notification types */
.notification--success { background: $tertiary-color; border-left: 5px solid $text-secondary-color; color: $text-secondary-color; }
.notification--warning { background: $warning-color; border-left: 5px solid $warning-second-color; color: $warning-second-color; }
.notification--error { background: $unavailable-color; border-left: 5px solid $unavailable-second-color; color: $unavailable-second-color }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}

.map-hidden{
    display: none;
}



/* Hide sliding panel by default */
.sliding-panel {
    display: none;
}

/* Hide the sliding panel and bus icon on larger screens */
@media only screen and (min-width: 768px) {
    .sliding-panel,
    .bus-icon {
        display: none;
    }
}

/* Show the sliding panel and bus icon on mobile screens */
@media only screen and (max-width: 768px) {

    *{
        padding: 0;
        margin: 0;
    }
    body{
        background-image: none;
    }
    .menu{
        padding:0;
        flex-direction: column;

        &__icon{
            display: none;
        }
        &__bar{
            display: none;
        }
        &__panel-icon{
            border-top: 5px solid $tertiary-color;
            border-radius: 2px;
        }
    }
    .map-hidden{
        display: block;
        height: 100%;
        width: 100%;
        padding-bottom: 20px;
    }
    .main-content{
        padding: 0 20px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        flex-direction: column;
        
        &__panel-icon{
            order: 1;
            display: block;
            padding: 0 20px;
        }
    }
    .directions{
        width: 100%;
        padding: 0;
        order: 3;

        &__title-box{
            padding-bottom: 20px;
        }
        &__text{
            width: 100%;
        }
        &__map-image{
            display: none;
        }


    }
    .schedule{
        order: 2;
        width: 100%;
        border: none;

        &__title{
            display: none;
        }
        &__subtitle{
            display: none;
        }
        &__station-icon{
            display: none;
        }
        &__full-title{
            padding-top: 20px;
        }
    }
    .complaint{
        width: 100%;
        order: 4;

        &__title,&__text{
            padding-bottom: 20px;
        }
    }
    .alternative-route{
        order: 5;
        width: 100%;

        &__title{
            padding-bottom: 20px;
        }
        &__text{
            padding-bottom: 20px;
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        text-align: center;
    }
    .sliding-panel {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70%;
        border-radius: 15px 15px 0 0;
        box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        z-index: 999;
        overflow-y: auto;
    }

    .sliding-panel.active {
        transform: translateY(0);
    }

    .bus-icon {
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        border-radius: 50%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
    }
    
}





