@use '../base/variables' as *;

#notification-container {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    gap: 10px;
    pointer-events: none; /* Prevent interaction blocking */
}

.notification {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
    border-radius: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    height: 43px;
    margin: 0 auto;
    pointer-events: auto; /* Allow interaction for dismissing */
    cursor: pointer;
    animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 4s forwards;
    height: 43px;

    &__icon{
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        fill: currentColor; /* Matches the text color of the notification */
        padding: 0 0 0 10px;
    }
}
/* Specific Icon Sizes */
.notification--success .notification__icon {
    width: 22x;
    height: 16px;
}

.notification--warning .notification__icon {
    width: 20px;
    height: 17px;
}

.notification--error .notification__icon {
    width: 18px;
    height: 18px;
}

/* Notification types */
.notification--success { background: $tertiary-color; border-left: 5px solid $text-secondary-color; color: $text-secondary-color; }
.notification--warning { background: $warning-color; border-left: 5px solid $warning-second-color; color: $warning-second-color; }
.notification--error { background: $unavailable-color; border-left: 5px solid $unavailable-second-color; color: $unavailable-second-color }

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
}
