body {
    background-color: $primary-color;
    background-image: url("../../svg/background-site.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Rubik';
    color: $text-primary-color;
}
