$text-primary-color: #FFFFFF;
$primary-color : #5CC1AF;
$secondary-color : #51AF9F;
$tertiary-color: #DBF1E8;
$text-secondary-color: #56746F;
$error-second-color: #AC5F5F;
$error-color: #FF9999;
$stroke-color: #B2C9C0;
$disclaimer-text-color: rgba(255, 255, 255, 0.81);
$warning-color: #fff599;
$warning-second-color: #BB9B5D;
$unavailable-color: #FF9999;
$unavailable-second-color: #AC5F5F;
$link-color: #FFFFFF;
